<h1>Log In</h1>

<form action="/login" method="post">
    <label for="usernameInput">Username</label>
    <input type="text" name="username" id="usernameInput"/>
    <label for="passwordInput">Password</label>
    <input type="password" name="password" id="passwordInput">
    <button type="submit">Log In</button>

</form>




{{#if errorMessage}}
<p style="color: red;">{{errorMessage}}</p>
{{/if}}